{% extends "base.html" %}

{% block title %}Center for Multimodal Neuroimaging{% endblock title %}
{% block content %}

<div class="field field--name-field-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">  <div class="paragraph paragraph--type--image paragraph--view-mode--default">
  <img loading="lazy" src="{{SITEURL}}/theme/images/brains.jpg" width="848" height="267" alt="">

</div>
</div>
    <div class="field__item"><div class="vertical-spacer"></div>
</div>
    <div class="field__item"><hr>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--_-columns paragraph--view-mode--default">

<div class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">
<h2 class="paragraph paragraph--type--header paragraph--view-mode--default">The CMN duties:</h2>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">

  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><ul>
<li>Holding quarterly meetings&nbsp;with collaborative Cores and Teams.</li>
<li>Identifying technical and thematic overlap and complementarity among the Cores and Teams.</li>
<li>Stimulating research using multi-modal techniques.</li>
<li>Aiding in sharing resources and data, enhancing user options, and opening up novel avenues of research.</li>
<li>Maintaining this website which will serve as a clearinghouse of available links, references, and tools that apply across all the Cores and Teams.</li>
</ul>
</div>

</div>
</div>
</div>

<div class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">
<h2 class="paragraph paragraph--type--header paragraph--view-mode--default">Collaborative Cores and Teams</h2>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">

  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><ul>
<li>
<p><strong><a href="https://fmrif.nimh.nih.gov/">fMRI Core Facility (FMRIF)</a></strong> — <a href="mailto:peter.bandettini@nih.gov">Peter Bandettini</a></p>
</li>
<li>
<p><a href="/data-science-and-sharing-team"><strong>Data Science and Sharing Team</strong></a> — <a href="mailto:adam.thomas@nih.gov">Adam Thomas</a></p>
</li>
<li>
<p><a href="/machine-learning-core"><strong>Machine Learning Team</strong></a> — <a href="mailto:francisco.pereira@nih.gov">Francisco Pereira</a></p>
</li>
<li>
<p><a href="https://afni.nimh.nih.gov/"><strong>Scientific and Statistical Computing Core (SSCC)</strong></a> — <a href="#">Paul Taylor</a></p>
</li>
<li>
<p><a href="https://www.nimh.nih.gov/research/research-conducted-at-nimh/research-areas/research-support-services/nif"><strong>Neurophyisology Imaging Core</strong></a> — <a href="mailto:David.Leopold@nih.gov">David Leopold</a></p>
</li>
<li>
<p><a href="http://kurage.nimh.nih.gov/"><strong>MEG Core</strong></a> — <a href="mailto:Allison.Nugent@nih.gov">Allison Nugent</a></p>
</li>
<li>
<p><a href="https://www.nimh.nih.gov/labs-at-nimh/research-areas/clinics-and-labs/mib/smrs/index.shtml"><strong>Section on Magnetic Resonance Spectroscopy</strong></a> — <a href="mailto:jun.shen@nih.gov">Jun Shen</a></p>
</li>
<li>
<p><a href="https://www.nimh.nih.gov/research/research-conducted-at-nimh/research-areas/clinics-and-labs/etpb/nnu"><strong>Non-invasive Neuromodulation Team</strong></a> — <a href="mailto:Sarah.Lisanby@nih.gov">Holly Lisanby</a></p>
</li>
<li>
<p><a href="https://www.nimh.nih.gov/labs-at-nimh/research-areas/clinics-and-labs/mib/spns/index.shtml"><strong>Section on PET Neuroimaging Sciences</strong></a> — <a href="mailto:Robert.Innis@nih.gov">Robert Innis</a></p>
</li>
<li>
<p><a href="/mltalks"><strong>Machine Learning in Brain Imaging Series</strong></a></p>
</li>
</ul>
</div>

</div>
</div>
</div>

</div>
</div>
    <div class="field__item"><hr>
</div>
    <div class="field__item"><div class="vertical-spacer"></div>
</div>
    <div class="field__item">
<h2 class="paragraph paragraph--type--header paragraph--view-mode--default">Mission Statement</h2>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">

  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p>The NIMH has a wealth of expertise in neuroimaging, data processing, and neuromodulation, and has an even larger number of investigators that would stand to benefit from enhanced access, harmonized data formats, the opportunity for collaboration, and simply more communication across core facilities.</p>

<p>The goal of the CMN is to bring together NIMH neuroimaging, processing, and neuromodulation expertise so that communication channels are further enhanced between cores, sections, units, individual staff scientists, and, importantly, users. The goals of this level of integration would be to foster collaborative bridges, create a centralized view of what’s available to users, generate questions that lend themselves to cross-modal investigation and integration, allow efficient exchange of practical information and new ideas.</p>

<p>Collaborators of the CMN include the NIMH-based Core Facilities in neuroimaging, image data processing, neuromodulation as well as the Machine Learning and Data Sharing Teams. It is hoped that users of these facilities will further benefit from the increased communication and synergy that the CMN brings.</p>

<p>Operationally, each Core and Team in the Center functions independent entity. The CMN will have bimonthly meetings focused on practicalities such as a creation of a harmonized data structure and processing methods to allow multimodal integration of data across modalities and to promote data sharing. This website has been created to enhance Core and Team visibility and to provide practical information on what’s available.</p>
</div>

</div>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--_-columns paragraph--view-mode--default">

<div class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">
<h3 class="paragraph paragraph--type--header paragraph--view-mode--default has-subheading">Peter Bandettini, Ph.D.</h3>
<span class="header-subheading header-subheading-3">Director</span></div>
    <div class="field__item">  <div class="paragraph paragraph--type--image paragraph--view-mode--default">
  <img loading="lazy" src="{{SITEURL}}/theme/images/PAB_1.jpg" width="350" height="275" alt="Peter Bandettini, Ph.D. Director">

</div>
</div>
</div>

<div class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">

  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p>&nbsp;</p>

<p>&nbsp;</p>

<p>Dr. Bandettini is Chief of the&nbsp;<a href="http://fim.nimh.nih.gov/" rel="external">Section on Functional Imaging Methods</a>&nbsp;in the Laboratory of Brain and Cognition of the Intramural Research Program, National Institute of Mental Health, National &nbsp;Institutes of Health. He is also the director of the&nbsp;<a href="http://fmrif.nimh.nih.gov/" rel="external">Functional MRI Core Facility</a>&nbsp;which provides functional MRI support to NIMH, NINDS and several other institutes at the NIMH.&nbsp;&nbsp;</p>
</div>

</div>
</div>
</div>

</div>
</div>
    <div class="field__item">  <div class="paragraph paragraph--type--_-columns paragraph--view-mode--default">

<div class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">
<h3 class="paragraph paragraph--type--header paragraph--view-mode--default has-subheading">Peter J. Molfese, Ph.D.</h3>
<span class="header-subheading header-subheading-3">Science Lead</span></div>
    <div class="field__item">  <div class="paragraph paragraph--type--image paragraph--view-mode--default">
  <img loading="lazy" src="{{SITEURL}}/theme/images/PJM_1.jpg" width="350" height="275" alt="Peter J. Molfese, Ph.D., Science Lead">

</div>
</div>
</div>

<div class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
    <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">

  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p>&nbsp;</p>

<p>&nbsp;</p>

<p>Dr. Molfese&nbsp;specializes in quantitative methods (Multivariate Statistics, Structural Equations Modeling, Multi-Level Modeling, and Machine Learning) and the integration of multi-modal neuroimaging methods (fMRI, EEG, MEG, and NIRS).&nbsp;</p>
</div>

</div>
</div>
</div>

</div>
</div>
</div>

{% endblock content %}
