{% extends "base.html" %}
{% block title %}
People
{% endblock %}
{% block content %}

<div class="views-element-container">
    <div class="view view-people view-id-people view-display-id-page_1 js-view-dom-id-39e4df416c7474082002072479b51f6ac8ebe4e1e30c65976320cf06c51aaec2">
       <div class="view-header">
          <h2>Members</h2>
       </div>
       <div class="view-content">
          {% for person in people %}
          {% if person.employee_status == "Active" %}
          <div class="views-row">
             <div class="views-field views-field-rendered-entity">
                <span class="field-content">
                   <div class="node node--type-person node--view-mode-teaser">
                      <a href="{{SITEURL}}/people/{{person.slug}}" rel="bookmark">{{person.title}}{% if person.subheading %}
                        , {{person.subheading}} 
                        {% endif %}</a>
                   </div>
                   {% if person.place == 'Member' %}
                   <div class="views-element-container">
                      <section class="view view-eva view-teams view-id-teams view-display-id-entity_view_2 js-view-dom-id-3d5c95671b03b88f26b5c7f9df871c3a878b633fcc9874eaf2997fa4a62bcb14">
                         <div class="views-row">
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="{{SITEURL}}/{{person.team_link}}" hreflang="en">{{person.team}}</a></span></div>
                         </div>
                      </section>
                   </div>
                   {% endif %}
                </span>
             </div>
          </div>
          {% endif %}
          {% endfor %}
       </div>
    
    
        <div class="view-header">
        <h2>Alumni</h2>
        </div>
        <div class="view-content">
        {% for person in people %}
        {% if person.employee_status == "Alumni" %}
        <div class="views-row">
            <div class="views-field views-field-rendered-entity">
                <span class="field-content">
                    <div class="node node--type-person node--view-mode-teaser">
                    <a href="{{SITEURL}}/people/{{person.slug}}" rel="bookmark">{{person.title}}{% if person.subheading %}
                    , {{person.subheading}} 
                    {% endif %} </a>
                    </div>
                    {% if person.place == 'Member' %}
                        <div class="views-element-container">
                                <section class="view view-eva view-teams view-id-teams view-display-id-entity_view_2 js-view-dom-id-3d5c95671b03b88f26b5c7f9df871c3a878b633fcc9874eaf2997fa4a62bcb14">
                                    <div class="views-row">
                                        <div class="views-field views-field-title">
                                            <span class="field-content">
                                                <a href="{{SITEURL}}/{{person.team_link}}" hreflang="en">{{person.team}}</a>
                                            </span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% else %}
                            <div class="views-element-container"></div>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="view-header">
            <h2>Contributors</h2>
        </div>
        <div class="view-content">
    {% for person in people %}
    {% if person.employee_status == "Contributors" %}
    <div class="views-row">
       <div class="views-field views-field-rendered-entity">
          <span class="field-content">
             <div class="node node--type-person node--view-mode-teaser">
                <a href="{{SITEURL}}/people/{{person.slug}}" rel="bookmark">
                {{person.title}}
                {% if person.subheading %}
                , {{person.subheading}} 
                {% endif %} 
                </a>
             </div>
             {% if person.place == 'Member' %}
             <div class="views-element-container">
                <section class="view view-eva view-teams view-id-teams view-display-id-entity_view_2 js-view-dom-id-3d5c95671b03b88f26b5c7f9df871c3a878b633fcc9874eaf2997fa4a62bcb14">
                   <div class="views-row">
                      <div class="views-field views-field-title"><span class="field-content"><a href="{{SITEURL}}/{{person.team_link}}" hreflang="en">{{person.team}}</a></span></div>
                   </div>
                </section>
             </div>
             {% endif %}
          </span>
       </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
 </div>

{% endblock %}