{% extends "base.html" %}
{% block title %}
{{ article.title }}
{% endblock %}
{% block content %}

<article aria-labelledby="page-title" class="node node--type-blog node--view-mode-full">




    <div class="node__content">

        <div
            class="field field--name-field-team-or-person field--type-entity-reference field--label-hidden field__item">
            <div class="node node--type-person node--view-mode-teaser">
                <a href="{{SITEURL}}/people/{{posts_dict[article.slug].host.slug}}"
                rel="bookmark">{{posts_dict[article.slug].host.title}}{% if
                posts_dict[article.slug].host.subheading %}
                , {{posts_dict[article.slug].host.subheading}}
                {% endif %}</a>
            </div>
            <div class="views-element-container"></div>

        </div>

        <div
            class="field field--name-field-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
            <div class="field__item">
                <div class="paragraph paragraph--type--text paragraph--view-mode--default">

                    <div
                        class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
                        {{posts_dict[article.slug].short_description}}

                    </div>

                </div>
            </div>
            <div class="field__item">
                <div class="paragraph paragraph--type--text paragraph--view-mode--default">

                    {{posts_dict[article.slug].description}}

                </div>
            </div>

            {% for speaker in posts_dict[article.slug].speakers %}
            <div class="field__item">
                <div class="paragraph paragraph--type--_-columns paragraph--view-mode--default">
                    {% if loop.index0 % 2 == 0 %}
                        <div
                            class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                            <div class="field__item">
                                <div class="paragraph paragraph--type--text paragraph--view-mode--default">

                                    <div
                                        class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
                                        <p><strong>{{speaker.name}}</strong></p>

                                        <p><strong>{{speaker.title}}</strong></p>

                                        <p>{{speaker.description}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div
                            class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                            <div class="field__item">
                                <div class="paragraph paragraph--type--image paragraph--view-mode--default">
                                    <a class="image-link"
                                        href="{{speaker.link}}">
                                        <img loading="lazy" src="{{SITEURL}}/images/{{speaker.image}}" width="400"
                                            height="406" alt="{{speaker.name}}">

                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div
                    class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                    <div class="field__item">
                        <div class="paragraph paragraph--type--image paragraph--view-mode--default">
                            <a class="image-link"
                                href="{{speaker.link}}">
                                <img loading="lazy" src="{{SITEURL}}/images/{{speaker.image}}" width="400"
                                    height="406" alt="{{speaker.name}}">

                            </a>
                        </div>
                    </div>
                </div>
                        <div
                        class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                        <div class="field__item">
                            <div class="paragraph paragraph--type--text paragraph--view-mode--default">

                                <div
                                    class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
                                    <p><strong>{{speaker.name}}</strong></p>

                                    <p><strong>{{speaker.title}}</strong></p>

                                    <p>{{speaker.description}}</p>
                                </div>

                            </div>
                        </div>
                        </div>
                       
                    {% endif %}
                </div>
            </div>
            <div class="field__item">
                <div class="paragraph paragraph--type--text paragraph--view-mode--default">

                    <div
                        class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
                        <p>----------------------------------------------------------------------------------------------------------------------------------------------------------
                        </p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

        <div
            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
            <p>The Center for Multimodal Neuroimaging is proud to announce the 2024 Workshop:&nbsp;<i>Insights
                    Into&nbsp;Cognitive And Neural Function Through Eye Tracking.&nbsp;</i></p>
        </div>

    </div>

</article>


<!-- <article aria-labelledby="page-title" class="node node--type-blog node--view-mode-full">

    <div class="node__content">

        <div
            class="field field--name-field-team-or-person field--type-entity-reference field--label-hidden field__item">
            <div class="node node--type-person node--view-mode-teaser">

                <a href="{{SITEURL}}/people/{{posts_dict[article.slug].host.slug}}"
               rel="bookmark">{{posts_dict[article.slug].host.title}}{% if
               posts_dict[article.slug].host.subheading %}
               , {{posts_dict[article.slug].host.subheading}}
               {% endif %}</a>

            </div>
            <div class="views-element-container"></div>

        </div>

        <div>
            <div class="field__item">  <div class="paragraph paragraph--type--_-columns paragraph--view-mode--default">
          
                <div class="field field--name-field-left-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                        <div class="field__item">  <div class="paragraph paragraph--type--text paragraph--view-mode--default">
                    
                      <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p><strong>Caglar Tas, Ph.D.</strong></p>
          
          <p><strong>Talk Title:&nbsp;The relationship between transsaccadic visual stability and visual working memory</strong></p>
          
          <p>Caglar Tas is an assistant professor in the Department of Psychology at the University of Tennessee, Knoxville. She received her M.A. from Bogazici University, Istanbul and her Ph.D. from the University of Iowa. Her research focuses on how visual information is represented and updated across saccadic eye movements and the role of visual working memory in transsaccadic perceptual processes. More recently, she has been investigating the neural mechanisms of transsaccadic perception using functional near-infrared spectroscopy (fNIRS). <a href="https://vpclab.weebly.com/">https://vpclab.weebly.com/</a>&nbsp;</p>
          
          <p>&nbsp;</p>
          
          <p>&nbsp;</p>
          </div>
                
                </div>
          </div>
                    </div>
            
                <div class="field field--name-field-right-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
                        <div class="field__item">  <div class="paragraph paragraph--type--image paragraph--view-mode--default">
                    <a class="image-link" href="https://psychology.utk.edu/people/caglar-tas/">  <img loading="lazy" src="/sites/default/files/2024-08/Tas_headshot.jpg" width="400" height="600" alt="Caglar Tas headshot">
          
          </a>      </div>
          </div>
                    </div>
            
                </div>
          </div>
                
        </div>

    </div>

</article> -->
{% endblock %}